<script type="text/javascript">
   function test(obj)
  {
   var data = obj.value;
   
   if (data.match(/[^0-9]/))
   {
      alert("Vous devez entrer une valeur numérique !");
      obj.value="";
   }
  }
</script>

<form method="POST" action="/login/">

  <div class="container">
    <label for="uname"><b>Matricule</b></label>
    <input type="text" name="matricule_gauche" maxlength="3" onkeyup="test(this)" required>
    <label for="uname"><b>TUN</b></label>
    <input type="text" name="matricule_droite" maxlength="4" onkeyup="test(this)" required>
    <button type="submit" value="login" >Login</button>
  </div>  
</form>
