<head>
    <title>Bienvenue au Parking</title>
<!--    {% load static %}-->
  <script src="{% static 'jquery.js' %}"></script> 
<script src="{% static 'mainjquery.js' %}"></script> 
</head>

<div>
		<label for="matricule"><b>Matricule : </b></label><br/>
		{{matricule_gauche}}
			<label for="uname">TUN</label>
		{{matricule_droite}}<br/>

		<label for="etage"><b>Etage : </b></label><br/>
		{{numero_etage}}<br/>

		<label for="place"><b>Place : </b></label><br/>
		{{numero_palce}}<br/>

		<label for="date_debut"><b>Date d'entrée: </b></label><br/>
		{{date_debut}}<br/>

		<button type="submit" value="payer" onclick="money()"><b>Payer</b></button>
</div>
