<head>
    <title>Bienvenue au Parking</title>
<script type="text/javascript">
function Couleur(id)
{
	console.log(document.getElementById(id).style['background-color']);
	var http = new XMLHttpRequest();
	var url = 'reserver/'+id;
	http.open('GET', url, true);

	//Send the proper header information along with the request
	http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

	http.onreadystatechange = function() {//Call a function when the state changes.
	    if(http.readyState == 4 && http.status == 200) {
		if(document.getElementById(id).style['background-color']=="green")
			{
			document.getElementById(id).style['background-color']="red";



			}
		else
			{
			document.getElementById(id).style['background-color']="green";


			
			}
		}
	    
	}
	http.send();
}
</script>
</head>
<body>

<table align="center" border="6" cellpadding="12"  cellspacing="20" width="80%" height="100%">
	<tr>
		<th id="16" align="center" valign="bottom" style="background:green;" onclick="Couleur('16')">16</th>
		<th id="15" align="center" valign="bottom" style="background:green;" onclick="Couleur('15')">15</th>
		<th id="14" align="center" valign="bottom" style="background:green;" onclick="Couleur('14')">14</th>
		<th id="13" align="center" valign="bottom" style="background:green;" onclick="Couleur('13')">13</th>
		<th id="12" align="center" valign="bottom" style="background:green;" onclick="Couleur('12')">12</th>
		<th id="11" align="center" valign="bottom" style="background:green;" onclick="Couleur('11')">11</th>
		<th id="10" align="center" valign="bottom" style="background:green;" onclick="Couleur('10')">10</th>
	</tr>

	<tr height="50">
		<td colspan= 7 align=center></td>
	</tr> 

	<tr>
		<th id="26" align="center" valign="bottom" style="background:green;" onclick="Couleur('26')">26</th>
		<th id="25" align="center" valign="bottom" style="background:green;" onclick="Couleur('25')">25</th>
		<th id="24" align="center" valign="bottom" style="background:green;" onclick="Couleur('24')">24</th>
		<th id="23" align="center" valign="bottom" style="background:green;" onclick="Couleur('23')">23</th>
		<th id="22" align="center" valign="bottom" style="background:green;" onclick="Couleur('22')">22</th>
		<th id="21" align="center" valign="bottom" style="background:green;" onclick="Couleur('21')">21</th>
		<th id="20" align="center" valign="bottom" style="background:green;" onclick="Couleur('20')">20</th>
	</tr>

	<tr height="50">
		<td colspan=7 align=center></td>
	</tr>

	<tr>
		<th id="36" align="center" valign="bottom" style="background:green;" onclick="Couleur('36')">36</th>
		<th id="35" align="center" valign="bottom" style="background:green;" onclick="Couleur('35')">35</th>
		<th id="34" align="center" valign="bottom" style="background:green;" onclick="Couleur('35')">34</th>
		<th id="33" align="center" valign="bottom" style="background:green;" onclick="Couleur('35')">33</th>
		<th id="32" align="center" valign="bottom" style="background:green;" onclick="Couleur('35')">32</th>
		<th id="31" align="center" valign="bottom" style="background:green;" onclick="Couleur('35')">31</th>
		<th id="30" align="center" valign="bottom" style="background:green;" onclick="Couleur('35')">30</th>
	</tr>

	<tr height="50">
		<td colspan=7 align=center></td>
	</tr>

</table>
</body>
